.buttonSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  min-width: 200px;
  background-color: #146eff;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button_disabled {
  composes: button;
  pointer-events: none;
  background-color: #8f8f8f;
}

.button:hover,
.button:focus {
  background-color: #33558d;
}
